<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="suite" thread-count="10" parallel="tests" >-->
<suite name="suite" >

    <listeners>
<!--        <listener class-name="listeners.ReportListerner" />-->
        <listener class-name="app.getxray.xray.testng.listeners.XrayJsonReporter" />
    </listeners>
    <parameter name="config" value="src/main/resources/config/configcucumber/config.properties"/>

    <test name="TestWithFirefox">
        <classes>
            <class name="runner.RunCucumberTest"/>
        </classes>
    </test>
</suite>
