<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite" >
    <listeners>
        <listener class-name="org.opensourcedemo.listerners.ReportListerner" />
        <listener class-name="app.getxray.xray.testng.listeners.XrayJsonReporter" />
    </listeners>
    <test name="TestCreateEmployee">
        <classes>
            <class name="testsuite.TestCreateEmployee"/>
            <class name="testsuite.TestSecondreport"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->