<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite" thread-count="10" parallel="tests" >

    <listeners>
        <listener class-name="listeners.ReportListerner" />
        <listener class-name="app.getxray.xray.testng.listeners.XrayJsonReporter" />
    </listeners>
    <parameter name="config" value="src/main/resources/config/config.properties"/>

    <test name="TestWithFirefox">
        <groups>
            <dependencies>
                <group depends-on= "createemp" name= "adminUser"></group>
                <group depends-on= "adminUser" name= "feuilletemp"></group>
                <group depends-on= "adminUser" name= "form"></group>
                <group depends-on= "adminUser" name= "uppload"></group>
            </dependencies>
        </groups>

        <parameter name="browser" value="FIREFOX"/>
        <parameter name="datainput" value="src/main/resources/scenario1/data.properties"/>
        <classes>
            <class name="testsuite.TestCreateEmployee"/>
            <class name="testsuite.TestCreateAdmin"></class>
            <class name="testsuite.TestFeuilleDeTemp"></class>
            <class name="testsuite.TestRemplirFormulaire"></class>
            <class name="testsuite.TestUploadFichier"></class>
        </classes>
    </test>
    <test name="TestWithChrome">
        <groups>
            <dependencies>
                <group depends-on= "createemp" name= "adminUser"></group>
                <group depends-on= "adminUser" name= "feuilletemp"></group>
                <group depends-on= "adminUser" name= "form"></group>
                <group depends-on= "adminUser" name= "uppload"></group>
            </dependencies>
        </groups>

        <parameter name="browser" value="CHROME"/>
        <parameter name="datainput" value="src/main/resources/scenario1/data.properties"/>
        <classes>
            <class name="testsuite.TestCreateEmployee"/>
            <class name="testsuite.TestCreateAdmin"></class>
            <class name="testsuite.TestFeuilleDeTemp"></class>
            <class name="testsuite.TestRemplirFormulaire"></class>
            <class name="testsuite.TestUploadFichier"></class>
        </classes>
    </test>
    <test name="TestWithEDGE">
        <groups>
            <dependencies>
                <group depends-on= "createemp" name= "adminUser"></group>
                <group depends-on= "adminUser" name= "feuilletemp"></group>
                <group depends-on= "adminUser" name= "form"></group>
                <group depends-on= "adminUser" name= "uppload"></group>
            </dependencies>
        </groups>

        <parameter name="browser" value="EDGE"/>
        <parameter name="datainput" value="src/main/resources/scenario1/data.properties"/>
        <classes>
            <class name="testsuite.TestCreateEmployee"/>
            <class name="testsuite.TestCreateAdmin"></class>
            <class name="testsuite.TestFeuilleDeTemp"></class>
            <class name="testsuite.TestRemplirFormulaire"></class>
            <class name="testsuite.TestUploadFichier"></class>
        </classes>
    </test>
</suite>
